{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-restricted-syntax": [0],
    "comma-dangle": [2, "never"],
    "new-cap": [0],
    "no-unused-vars": [2, {
      "vars": "all",
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }]
  }
}
